


body {

    padding-top: 50px;
    padding-bottom: 20px;
    
    background:url(../tlo.png);
   
    width:100%;
    height:100%;
    max-height:100px;
    max-width:100px;
}



.ustawienie{
  max-width:200px;
  margin-right:20px;
  margin-left:10px;
}
.ustawienie1{
      max-width:200px;
      margin-right:20px;
  margin-left:400px;
}
 
 
    

.btn-circle {
position:center;
  display:block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  line-height: 9;
  border: 1px solid darkgrey;
}
.margin1 {
	margin-left: 90%;
}

.img
{
    width:100%;
}
.zkonta{
    padding-bottom:17%;
}
.btn-warning{
    background: black;
    color: white;
    background-size: cover;
    
    width: 50px;
	height: 50px;


	margin: 40px auto 0;
}


.glowna{
    padding-top:25%;
   
   
}


.lewyglowna{
    padding-right:10%;
    padding-left:10%;
    
}
.prawyglowna{
    padding-left:10%;
    padding-right:10%;
}
.autorskie {
margin-bottom:10%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 140px;
    
}
