


body {

    padding-top: 50px;
    padding-bottom: 20px;
    
    background:url(../tlo.png);
   
    width:100%;
    height:100%;
}

 
    
}
.btn-circle {
position:center;
  display:block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  line-height: 9;
  border: 1px solid darkgrey;
}

.img
{
    width:100%;
}
.zkonta{
    padding-bottom:17%;
}
.btn-warning{
    background: black;
    color: white;
    background-size: cover;
    
    width: 50px;
	height: 50px;


	margin: 40px auto 0;
}


.glowna{
margin-top:5%;
   
   
}



.autorskie {
margin-bottom: 0%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
