@{
    ViewBag.Title = "Home Page";
}




<body>

    <div id="carousel-example-generic2" class="carousel slide odstep">
        <!-- Wskaźniki w postaci kropek -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
        </ol>

        <!-- Slajdy -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../2.png" alt="">
                <!-- Opis slajdu -->
                <div class="carousel-caption">

                </div>
            </div>

            <div class="item">
                <img src="../2.png" alt="">
                <!-- Opis slajdu -->
                <div class="carousel-caption">

                </div>
            </div>

            <div class="item">
                <img src="../2.png" alt="">
                <!-- Opis slajdu -->
                <div class="carousel-caption">

                </div>
            </div>

        </div>

        <!-- Strzałki do przewijania -->
        <a class="left carousel-control" href="#carousel-example-generic2" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic2" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>




   


    <a class="btn btn-lg btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Dodaj ofertę </a>
    <a class="btn btn-lg btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Oferty</a>






    <div class="przyciski">

        <div class="header-content">
            <a class="btn btn-primary btn-xl ustawienie" href="#about">Find Out More</a>
        </div>
        <a class="col-md-4"></a>
        <div class="header-content ustawienie1">
            <a class="btn btn-primary btn-xl " href="#about">Find Out More</a>
        </div>
    </div>
  
        <div class="autorskie"></div>
    

</body>