@{
    ViewBag.Title = "Home Page";
}




<body>
    
    <div class="container text-center">
    
            <div class="glowna">
            


                    <a class="bt btn-lg btn-warning lewyglowna "  href="http://go.microsoft.com/fwlink/?LinkId=301866">Oferty</a>
             
       
               
                <a class="bt btn-lg btn-warning prawyglowna " href="http://go.microsoft.com/fwlink/?LinkId=301867">Dodaj ofertę </a>
               
        </div>
        <div class="autorskie"></div>
    </div>
   
</body>