@{
    ViewBag.Title = "Home Page";
}




<body>

    <div id="carousel-example-generic2" class="carousel slide">
        <!-- Wskaźniki w postaci kropek -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
        </ol>

        <!-- Slajdy -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../2.png" alt="">
                <!-- Opis slajdu -->
                <div class="carousel-caption">

                </div>
            </div>

            <div class="item">
                <img src="../2.png" alt="">
                <!-- Opis slajdu -->
                <div class="carousel-caption">

                </div>
            </div>

            <div class="item">
                <img src="../2.png" alt="">
                <!-- Opis slajdu -->
                <div class="carousel-caption">

                </div>
            </div>

        </div>

        <!-- Strzałki do przewijania -->
        <a class="left carousel-control" href="#carousel-example-generic2" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic2" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>



    <section id="contact">
       
            <div class="container text-center">
                <div class="glowna"></div>
                <div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">






                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                    <a class="btn btn-lg btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Oferty</a>
                    
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">


                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                    <a class="btn btn-lg btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Dodaj ofertę </a>

                </div>


            </div>
           
        </section>
   

            <div class="autorskie"></div>


</body>